<header class="header">
 
    <div class="container logo-nav-container">
        <a href="" class="logo">Movies</a>
        <span class="menu-icon"><i class='bx bx-menu-alt-right'></i></span>
        <nav class="navigation">
            <ul>
                <li><a href="/movies">Inicio</a></li>
                <li><a href="/movies/recommended">Mas vistas</a></li>                
                <li><a href="/movies/new">Las Ultimas</a></li>

            </ul>
            <form action="/movies/search">    
                <input type="text" name="search">    
                <button type="submit">SEARCH</button>
            </form>
    </div>
    



</header>